<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="index">
        <div class="logo">
            <img class="logo_image" src="images/logo.png">
            <img class="logo_text" src="images/logotext.png">
        </div>
        <div class="navi_bar">
            <div class="navi_button navi_left navi_click pointer" onclick="javascript:location.href='/'">
                <div class="navi_home_mark">
                    <img class="home_mark prohibit_selection" src="images/home_mark.png">
                </div>
                <div class="navi_home">
                    <a class="navi_text prohibit_selection">首頁</a>
                </div>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer" onclick="javascript:location.href='/product'">
                <a class="navi_text prohibit_selection">產品介紹</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click navi_this pointer" onclick="javascript:location.href='/case'">
                <a class="navi_text prohibit_selection">案例分享</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer">
                <a class="navi_text prohibit_selection">聯絡我們</a>
            </div>
        </div>
        <div class="cs_main">
            <div class="main_left case_left">
                <div class="left_tittle">
                    <a class="lt_text">案例分享</a>
                </div>
                <div class="left_content this_case02">
                    <ul class="sign_2">
                        <li>
                            <span><a class="pointer prohibit_selection">國內案例</a></span>
                        </li>
                        <li>
                            <span><a class="pointer prohibit_selection">國外案例</a></span>
                            <ul class="sign_2_1">
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case01">XIV
                                        Karat 珠寶</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case02">Ft.
                                        McDowell 賭場</a>
                                </li>
                                <li class="sign_li_2 case_left_sign this_case">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text this_case"
                                        href="/case03">Schofield 軍營, 夏威夷</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case04">Avilas
                                        El Rancho 餐廳</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case05">Win
                                        Carson 現代汽車</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text"
                                        href="/case06">蘇州光華商業大廈</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="main_right">
                <div class="product_tittle">
                    <a class="ch_tittle">案例介紹</a>
                    <a class="en_tittle">SUCCESS STORIES</a>
                </div>
                <div class="case_story">
                    <div class="cs03_story_img">
                        <img src="images/case03 (1).jpg">
                        <img src="images/case03 (2).jpg">
                        <img src="images/case03 (3).jpg">
                        <img src="images/case03 (4).jpg">
                    </div>
                    <div class="cs_story_ct">
                        <a>Schofield 軍營, 夏威夷</a>
                        <p><a>客戶：夏威夷瓦西瓦军事基地飯店，使用3MP與5MP的Arecont Vision網路攝影機像是AV3105/5105/8155等等控200間房間、用餐區以及便利商店。</a>
                        </p>
                        <p><a>升級原因：這裡本來是沒有影像監控系統的，但老闆發現暴力事件與日俱增，因此開始找尋一套可靠、容易操作且有強力技術支援的影像監控系統保護這間飯店以及所有資產。</a></p>
                        <p><a>HDW帶來得好處：HDW帶給這位老聞超清晰的畫質且超容易上手的界面，讓老閱可以放心把監控的工作交給下屬操作且幾乎不需教導如何管理這套系統。強大的搜尋工作讓老闖可以框選特定區域就找到他想要找的東西。可自定義的layout更是讓老闖輕鬆配置他想要看到的畫面呈現方式。</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Copyright">
        <div class="copy">
            <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
        </div>
    </div>
</body>

</html>