<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="index">
        <div class="logo">
            <img class="logo_image" src="images/logo.png">
            <img class="logo_text" src="images/logotext.png">
        </div>
        <div class="navi_bar">
            <div class="navi_button navi_left navi_click pointer" onclick="javascript:location.href='/'">
                <div class="navi_home_mark">
                    <img class="home_mark prohibit_selection" src="images/home_mark.png">
                </div>
                <div class="navi_home">
                    <a class="navi_text prohibit_selection">首頁</a>
                </div>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer" onclick="javascript:location.href='/product'">
                <a class="navi_text prohibit_selection">產品介紹</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click navi_this pointer" onclick="javascript:location.href='/case'">
                <a class="navi_text prohibit_selection">案例分享</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer">
                <a class="navi_text prohibit_selection">聯絡我們</a>
            </div>
        </div>
        <div class="cs_main">
            <div class="main_left case_left">
                <div class="left_tittle">
                    <a class="lt_text">案例分享</a>
                </div>
                <div class="left_content this_case02">
                    <ul class="sign_2">
                        <li>
                            <span><a class="pointer prohibit_selection">國內案例</a></span>
                        </li>
                        <li>
                            <span><a class="pointer prohibit_selection">國外案例</a></span>
                            <ul class="sign_2_1">
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case01">XIV
                                        Karat 珠寶</a>
                                </li>
                                <li class="sign_li_2 case_left_sign this_case">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text this_case" href="/case02">Ft.
                                        McDowell 賭場</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text"
                                        href="/case03">Schofield 軍營, 夏威夷</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case04">Avilas
                                        El Rancho 餐廳</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case05">Win
                                        Carson 現代汽車</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text"
                                        href="/case06">蘇州光華商業大廈</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="main_right">
                <div class="product_tittle">
                    <a class="ch_tittle">案例介紹</a>
                    <a class="en_tittle">SUCCESS STORIES</a>
                </div>
                <div class="case_story">
                    <div class="cs02_story_img">
                        <img src="images/case02.png">
                    </div>
                    <div class="cs_story_ct">
                        <a>Ft. McDowell 賭場</a>
                        <p><a>客戶：美國亞歴桑那Ft.McDowell賭場擁有一整片高達128,000平方英尺的吃角子老虎機區，還有1800個賓果遊戲座、18桌的BlackJack二十一點遊戲區以及20桌的撲克區，另外還有美食區、飲料區、高爾夫球區以及渡假飯店。</a></p>
                        <p><a>升級原因：FT.McDowell需要一套符合賭場標準需求的IP影像監控平台,一套license算法靈活、操作容易、同時兼容類比升級至數位的平台。</a></p>
                        <p><a>系統需求：要有64位元的客戶端程式、要能裝在Windows及Linux且能支援X86及ARM架構。</a></p>
                        <p><a>HDW帶來的好處：大幅改善了舊有系統，讓使用者能靈活地操作觀看即時影像及歷史影像，HDW特有的鑑識級影像縮放控制更是為使用者在調閱影像上帶來相當大的便利性。</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Copyright">
        <div class="copy">
            <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
        </div>
    </div>
</body>

</html>