<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="index">
        <div class="logo">
            <img class="logo_image" src="images/logo.png">
            <img class="logo_text" src="images/logotext.png">
        </div>
        <div class="navi_bar">
            <div class="navi_button navi_left navi_click pointer" onclick="javascript:location.href='/'">
                <div class="navi_home_mark">
                    <img class="home_mark prohibit_selection" src="images/home_mark.png">
                </div>
                <div class="navi_home">
                    <a class="navi_text prohibit_selection">首頁</a>
                </div>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer" onclick="javascript:location.href='/product'">
                <a class="navi_text prohibit_selection">產品介紹</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click navi_this pointer" onclick="javascript:location.href='/case'">
                <a class="navi_text prohibit_selection">案例分享</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer" onclick="javascript:location.href='/contact'">
                <a class="navi_text prohibit_selection">聯絡我們</a>
            </div>
        </div>
        <div class="cs_main">
            <div class="main_left case_left">
                <div class="left_tittle">
                    <a class="lt_text">案例分享</a>
                </div>
                <div class="left_content this_case04">
                    <ul class="sign_2">
                        <li>
                            <span><a class="pointer prohibit_selection">國內案例</a></span>
                        </li>
                        <li>
                            <span><a class="pointer prohibit_selection">國外案例</a></span>
                            <ul class="sign_2_1">
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case01">XIV
                                        Karat 珠寶</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case02">Ft.
                                        McDowell 賭場</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text"
                                        href="/case03">Schofield 軍營, 夏威夷</a>
                                </li>
                                <li class="sign_li_2 case_left_sign this_case">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text this_case"
                                        href="/case04">Avilas El Rancho 餐廳</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text" href="/case05">
                                        Win Carson 現代汽車</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="hyperlink prohibit_selection pointer sign_li_2_text"
                                        href="/case06">蘇州光華商業大廈</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="main_right">
                <div class="product_tittle">
                    <a class="ch_tittle">案例介紹</a>
                    <a class="en_tittle">SUCCESS STORIES</a>
                </div>
                <div class="case_story">
                    <div class="cs04_story_img">
                        <img src="images/case04.png">
                    </div>
                    <div class="cs_story_ct">
                        <a>Avilas El Rancho 餐廳</a>
                        <p><a>客戶：Avilas El Rancho餐廳位於亨廷頓海灘，用簡單14支摄影機來看七間餐廳中的其中一間。</a></p>
                        <p><a>升級原因：客戶在尋找一套容易操作、CP值又高的IP影像監控平台來監看主要的餐飲設施、停車場以及前後門。鑑識級的縮放控制以及清晰的影像品質是老闖選用HDW的主要原因。</a></p>
                        <p><a>HDW帶來的好處：清晰的畫質加上簡單易懂的鑑識級控制，花費划算又能用mobile app來遠端連結。</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Copyright">
        <div class="copy">
            <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
        </div>
    </div>
</body>

</html>