<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="index">
        <div class="logo">
            <img class="logo_image" src="images/logo.png">
            <img class="logo_text" src="images/logotext.png">
        </div>
        <div class="navi_bar">
            <div class="navi_button navi_left navi_click pointer" onclick="javascript:location.href='/'">
                <div class="navi_home_mark">
                    <img class="home_mark prohibit_selection" src="images/home_mark.png">
                </div>
                <div class="navi_home">
                    <a class="navi_text prohibit_selection">首頁</a>
                </div>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer" onclick="javascript:location.href='/product'">
                <a class="navi_text prohibit_selection">產品介紹</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click navi_this pointer" onclick="javascript:location.href='/case'">
                <a class="navi_text prohibit_selection">案例分享</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer">
                <a class="navi_text prohibit_selection">聯絡我們</a>
            </div>
        </div>
        <div class="cs_main">
            <div class="main_left case_left">
                <div class="left_tittle">
                    <a class="lt_text">案例分享</a>
                </div>
                <div class="left_content">
                    <ul class="sign_2">
                        <li>
                            <span><a class="hyperlink" href="/pro2-2">國內案例</a></span>
                        </li>
                        <li>
                            <span><a class="hyperlink" href="/pro2-1">國外案例</a></span>
                            <ul class="sign_2_1">
                                <li class="sign_li_2 case_left_sign">
                                    <a class="sign_li_2_text">XIV Karat 珠寶</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="sign_li_2_text">Ft. McDowell 賭場</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="sign_li_2_text">Schofield 軍營, 夏威夷</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="sign_li_2_text">Avilas El Rancho 餐廳</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="sign_li_2_text">Win Carson 現代汽車</a>
                                </li>
                                <li class="sign_li_2 case_left_sign">
                                    <a class="sign_li_2_text">蘇州光華商業大廈</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="main_right case_right">
                <div class="product_tittle">
                    <a class="ch_tittle">案例介紹</a>
                    <a class="en_tittle">SUCCESS STORIES</a>
                </div>
                <div class="case_main">
                    <div class="cs_img">
                        <img src="images/case (1).jpg" class="img_none">
                    </div>
                    <div class="cs_ct">
                        <div class="cs_ct_ti">
                            <a>XIV KARAT 珠寶</a>
                        </div>
                        <div class="cs_ct_te">
                            <a>XIV Karat is 位於象徵財富與名利的加州比佛利山莊中，</a>
                            <br>
                            <a>是好萊塢有名的珠寶店。</a>
                        </div>
                    </div>
                    <a class="read_more prohibit_selection pointer">閱讀全文..</a>
                </div>
                <div class="case_main">
                    <div class="cs_img">
                        <img src="images/case (2).jpg" class="img_none">
                    </div>
                    <div class="cs_ct">
                        <div class="cs_ct_ti">
                            <a>FT. MCDOWELL 賭場</a>
                        </div>
                        <div class="cs_ct_te">
                            <a>美國亞利桑那Ft. McDowell賭場擁有一整片高達</a>
                            <br>
                            <a>128,000平方英尺的吃角子老虎機區，有1800個賓果</a>
                        </div>
                    </div>
                    <a class="read_more prohibit_selection pointer">閱讀全文..</a>
                </div>
                <div class="case_main">
                    <div class="cs_img">
                        <img src="images/case (3).jpg" class="img_none">
                    </div>
                    <div class="cs_ct">
                        <div class="cs_ct_ti">
                            <a>SCHOFIELD 軍營, 夏威夷</a>
                        </div>
                        <div class="cs_ct_te">
                            <a>夏威夷瓦西瓦軍事基地飯店，使用3MP與5MP的Are-</a>
                            <br>
                            <a>cont Vision網路攝影機是AV3105/5105/8155等等</a>
                        </div>
                    </div>
                    <a class="read_more prohibit_selection pointer">閱讀全文..</a>
                </div>
                <div class="case_main">
                    <div class="cs_img">
                        <img src="images/case (4).jpg" class="img_none">
                    </div>
                    <div class="cs_ct">
                        <div class="cs_ct_ti">
                            <a>AVILAS EL RANCHO 餐廳</a>
                        </div>
                        <div class="cs_ct_te">
                            <a>Avilas El Rancho餐廳位於亨廷頓海灘，用簡單14隻攝影</a>
                            <br>
                            <a>機來監看七間餐廳中的其中一間。</a>
                        </div>
                    </div>
                    <a class="read_more prohibit_selection pointer">閱讀全文..</a>
                </div>
                <div class="case_main">
                    <div class="cs_img">
                        <img src="images/case (5).jpg" class="img_none">
                    </div>
                    <div class="cs_ct">
                        <div class="cs_ct_ti">
                            <a>win CARSON現代汽車</a>
                        </div>
                        <div class="cs_ct_te">
                            <a>加州卡森的Win Carson現代汽車，簡單使用了14隻網路</a>
                            <br>
                            <a>攝影機來監控高達13,600平方英尺的經銷商專區。</a>
                        </div>
                    </div>
                    <a class="read_more prohibit_selection pointer">閱讀全文..</a>
                </div>
                <div class="case_main">
                    <div class="cs_img">
                        <img src="images/case (6).jpg" class="img_none">
                    </div>
                    <div class="cs_ct">
                        <div class="cs_ct_ti">
                            <a>蘇州光華商業大廈</a>
                        </div>
                        <div class="cs_ct_te">
                            <a>中國蘇州光華商業大廈使用了HD Witness以及208支</a>
                            <br>
                            <a>AXIS網路攝影機做為整棟大廈的影像安全監控用。</a>
                        </div>
                    </div>
                    <a class="read_more prohibit_selection pointer">閱讀全文..</a>
                </div>
            </div>
        </div>
    </div>
    <div class="Copyright">
        <div class="copy">
            <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
        </div>
    </div>
</body>

</html>