<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="index">
      <div class="logo">
        <img class="logo_image" src="images/logo.png">
        <img class="logo_text" src="images/logotext.png">
      </div>
      <div class="navi_bar">
        <div class="navi_button navi_click navi_this">
          <a class="navi_text">首頁</a>
        </div>
        <div class="navi_button_dot">
          <a class="navi_dot">．</a>
        </div>
        <div class="navi_button navi_click">
          <a class="navi_text">產品介紹</a>
        </div>
        <div class="navi_button_dot">
          <a class="navi_dot">．</a>
        </div>
        <div class="navi_button navi_click">
          <a class="navi_text">案例分享</a>
        </div>
        <div class="navi_button_dot">
          <a class="navi_dot">．</a>
        </div>
        <div class="navi_button navi_click">
          <a class="navi_text">聯絡我們</a>
        </div>
      </div>
    </div>
    <div class="Copyright">
      <div class="copy">
        <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
      </div>
    </div>
  </body>
</html>
