<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="index">
    <div class="logo">
      <img class="logo_image" src="images/logo.png">
      <img class="logo_text" src="images/logotext.png">
    </div>
    <div class="navi_bar">
      <div class="navi_button navi_left navi_this pointer" onclick="javascript:location.href='/'">
        <div class="navi_home_mark" >
          <img class="home_mark prohibit_selection" src="images/home_mark.png">
        </div>
        <div class="navi_home">
          <a class="navi_text prohibit_selection">首頁</a>
        </div>
      </div>
      <div class="navi_button_dot">
        <a class="navi_dot prohibit_selection">．</a>
      </div>
      <div class="navi_button navi_click pointer">
        <a class="navi_text prohibit_selection">產品介紹</a>
      </div>
      <div class="navi_button_dot">
        <a class="navi_dot prohibit_selection">．</a>
      </div>
      <div class="navi_button navi_click pointer">
        <a class="navi_text prohibit_selection">案例分享</a>
      </div>
      <div class="navi_button_dot">
        <a class="navi_dot prohibit_selection">．</a>
      </div>
      <div class="navi_button navi_click pointer">
        <a class="navi_text prohibit_selection">聯絡我們</a>
      </div>
    </div>

    <div class="index_image">
      <img src="images/1.jpg" width="800">
    </div>

    <div class="vacancy"></div>
    <div class="index_commodity">
      <div class="co1">
        <div class="co1_name">
          <a class="co1_name_text prohibit_selection">網路攝影機</a>
        </div>
        <div class="co1_more">
          <a class="co1_more_text prohibit_selection">MORE</a>
        </div>
      </div>
      <div class="co2">
        <div class="co2_name">
          <a class="co2_name_text prohibit_selection">網路攝影機</a>
        </div>
        <div class="co2_more">
          <a class="co2_more_text prohibit_selection">MORE</a>
        </div>
      </div>
    </div>
  </div>
  <div class="Copyright">
    <div class="copy">
      <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
    </div>
  </div>
</body>

</html>