<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="index">
        <div class="logo">
            <img class="logo_image" src="images/logo.png">
            <img class="logo_text" src="images/logotext.png">
        </div>
        <div class="navi_bar">
            <div class="navi_button navi_left navi_click pointer" onclick="javascript:location.href='/'">
                <div class="navi_home_mark">
                    <img class="home_mark prohibit_selection" src="images/home_mark.png">
                </div>
                <div class="navi_home">
                    <a class="navi_text prohibit_selection">首頁</a>
                </div>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click navi_this pointer" onclick="javascript:location.href='/product'">
                <a class="navi_text prohibit_selection">產品介紹</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer">
                <a class="navi_text prohibit_selection">案例分享</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer">
                <a class="navi_text prohibit_selection">聯絡我們</a>
            </div>
        </div>
        <div class="pd_main">
            <div class="main_left">
                <div class="left_tittle">
                    <a class="lt_text">網路攝影機</a>
                </div>
                <div class="left_content">
                    <ul class="sign">
                        <li>
                            <a class="hyperlink" href="http://tw.axis.com/index.php?mod=products" target=_blank>AXIS</a>
                        </li>
                        <li>
                            <a class="hyperlink" href="http://www.arecontvision.com/categories.php"
                                target=_blank>Arecont Vision</a>
                        </li>
                        <li>
                            <a class="hyperlink" href="http://www.brickcom.com.tw/products/Network-Camera/"
                                target=_blank>Brickom</a>
                        </li>
                    </ul>
                </div>
                <div class="left_tittle">
                    <a class="lt_text">NVR</a>
                </div>
                <div class="left_content HD_Witness_video">
                    <ul class="sign_2">
                        <li class="sign_li">
                            <span><a class="hyperlink" href="/pro2-1">HD Witness</a></span>
                            <ul class="sign_2_1">
                                <li class="sign_li_2">
                                    <a class="sign_li_2_text">ACS</a>
                                    <a class="coming"><i>coming soon!</i></a>
                                </li>
                                <li class="sign_li_2">
                                    <a class="sign_li_2_text">TV Wall</a>
                                    <a class="coming"><i>coming soon!</i></a>
                                </li>
                                <li class="sign_li_2">
                                    <a class="sign_li_2_text">Pos</a>
                                    <a class="coming"><i>coming soon!</i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sign_li left_this">
                            <span><a class="hyperlink left_this" href="/pro2-2">HD Witness影片</a></span>
                        </li>
                    </ul>
                </div>
                <div class="left_tittle">
                    <a class="lt_text">門禁系統</a>
                </div>
                <div class="left_content">
                    <ul class="sign_3">
                        <li>
                            <a class="hyperlink" href="http://www.kaba.com/en/products/341378/access-data-systems.html"
                                target=_blank>KABA</a>
                        </li>
                    </ul>
                </div>
                <div class="left_tittle">
                    <a class="lt_text">相關配件</a>
                </div>
                <div class="left_content">
                    <ul class="sign_4">
                        <li>
                            <span><a class="hyperlink" href="/pro4-1">單埠POE延長器</a></span>
                        </li>
                        <li>
                            <span><a class="hyperlink">四埠POE Switch型延長器</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pro2_2_right">
                <div class="product_navi">
                    <img class="home_mark_black" src="images/home_mark_black.png">
                    <a class="navi_interval">></a>
                    <a class="navi_font hyperlink" href="/product">產品介紹</a>
                    <a class="navi_interval">></a>
                    <a class="navi_font">NVR</a>
                    <a class="navi_interval">></a>
                    <a class="navi_font">HD Witness影片</a>
                </div>
                <div class="pro2_2_content">
                    <div class="product_button">
                        <input type="button" value="功能介紹" class="button_click button_text"
                            onclick="location.href='/pro2-2-1'">
                    </div>
                    <div class="product_button">
                        <input type="button" value="操作教學" class="button_click button_text"
                            onclick="location.href='/pro2-2-2'">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="Copyright">
        <div class="copy">
            <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
        </div>
    </div>
</body>

</html>