<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="index">
        <div class="logo">
            <img class="logo_image" src="images/logo.png">
            <img class="logo_text" src="images/logotext.png">
        </div>
        <div class="navi_bar">
            <div class="navi_button navi_left navi_click pointer" onclick="javascript:location.href='/'">
                <div class="navi_home_mark">
                    <img class="home_mark prohibit_selection" src="images/home_mark.png">
                </div>
                <div class="navi_home">
                    <a class="navi_text prohibit_selection">首頁</a>
                </div>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click navi_this pointer" onclick="javascript:location.href='/product'">
                <a class="navi_text prohibit_selection">產品介紹</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer" onclick="javascript:location.href='/case'">
                <a class="navi_text prohibit_selection">案例分享</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer" onclick="javascript:location.href='/contact'">
                <a class="navi_text prohibit_selection">聯絡我們</a>
            </div>
        </div>
        <div class="pd_main">
            <div class="main_left">
                <div class="left_tittle">
                    <a class="lt_text">網路攝影機</a>
                </div>
                <div class="left_content">
                    <ul class="sign">
                        <li>
                            <a class="hyperlink" href="http://tw.axis.com/index.php?mod=products" target=_blank>AXIS</a>
                        </li>
                        <li>
                            <a class="hyperlink" href="http://www.arecontvision.com/categories.php"
                                target=_blank>Arecont Vision</a>
                        </li>
                        <li>
                            <a class="hyperlink" href="http://www.brickcom.com.tw/products/Network-Camera/"
                                target=_blank>Brickom</a>
                        </li>
                    </ul>
                </div>
                <div class="left_tittle">
                    <a class="lt_text">NVR</a>
                </div>
                <div class="left_content HD_Witness">
                    <ul class="sign_2">
                        <li class="sign_li left_this">
                            <span><a class="hyperlink left_this" href="/pro2-1">HD Witness</a></span>
                            <ul class="sign_2_1">
                                <li class="sign_li_2">
                                    <a class="sign_li_2_text">ACS</a>
                                    <a class="coming"><i>coming soon!</i></a>
                                </li>
                                <li class="sign_li_2">
                                    <a class="sign_li_2_text">TV Wall</a>
                                    <a class="coming"><i>coming soon!</i></a>
                                </li>
                                <li class="sign_li_2">
                                    <a class="sign_li_2_text">Pos</a>
                                    <a class="coming"><i>coming soon!</i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sign_li">
                            <span><a class="hyperlink" href="/pro2-2">HD Witness影片</a></span>
                        </li>
                    </ul>
                </div>
                <div class="left_tittle">
                    <a class="lt_text">門禁系統</a>
                </div>
                <div class="left_content">
                    <ul class="sign_3">
                        <li>
                            <a class="hyperlink" href="http://www.kaba.com/en/products/341378/access-data-systems.html"
                                target=_blank>KABA</a>
                        </li>
                    </ul>
                </div>
                <div class="left_tittle">
                    <a class="lt_text">相關配件</a>
                </div>
                <div class="left_content">
                    <ul class="sign_4">
                        <li>
                            <span><a class="hyperlink" href="/pro4-1">單埠POE延長器</a></span>
                        </li>
                        <li>
                            <span><a class="hyperlink" href="/pro4-2">四埠POE Switch型延長器</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pro2_1_right">
                <div class="product_navi">
                    <img class="home_mark_black" src="images/home_mark_black.png">
                    <a class="navi_interval">></a>
                    <a class="navi_font hyperlink" href="/product">產品介紹</a>
                    <a class="navi_interval">></a>
                    <a class="navi_font">NVR</a>
                    <a class="navi_interval">></a>
                    <a class="navi_font">HD Witness</a>
                </div>
                <div class="pro2_1_tittle">
                    <a class="pro2_1_tittle_text">HD Witness</a>
                </div>
                <img src="images/pro_2-1.jpg">
                <div class="pro2_1_content">
                    <a class="ch_tittle_text">產品特色</a>
                    <p>
                        <a>HD Witness一套輕巧但強大的高盡質網路影像監控平台。</a>
                        <br>
                        <a>以使用者的想法為出發點的設計理念，創造出便於使用者操控的絕佳平台。</a>
                        <br>
                        <a>獨特的設備自動搜尋技術不僅使得影像配置容易上手，也省去許多不必要的時間花費。</a>
                    </p>
                    <p>
                        <a>HD Witness對於频寬處理以及硬體應用上非常有一手，可大大降低硬體能。</a>
                        <br>
                        <a>適用於所有平台：Microsoft、Windows、Linux、Mac OS、Android、iOS等等。</a>
                        <br>
                        <a>一次付費，终身免費升級更是HD Witness一大點，使用者再也不必每年捧著大把金錢防止軟體被淘汰了！</a>
                    </p>
                </div>
                <div class="pro2_1_download">
                    <a class="ch_tittle_text">下載</a>
                </div>
                <div class="pro2_1_download_content">
                    <a class="DM" href="files/hdw_dm.pdf" target="_blank">DM</a>
                    &emsp;
                    <a class="DM" href="files/hdw_spec.pdf" target="_blank">型錄</a>
                    <br>
                    <a class="trial" href="files/NxW2.2.1.7520x86.msi" download>試用版軟體32位元(4CH/1個月)</a>
                    <br>
                    <a class="trial" href="files/NxW2.2.1.7520x64.msi" download>試用版軟體64位元(4CH/1個月)</a>
                </div>
            </div>
        </div>

    </div>
    <div class="Copyright">
        <div class="copy">
            <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
        </div>
    </div>
</body>

</html>