<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="index">
        <div class="logo">
            <img class="logo_image" src="images/logo.png">
            <img class="logo_text" src="images/logotext.png">
        </div>
        <div class="navi_bar">
            <div class="navi_button navi_left navi_click pointer" onclick="javascript:location.href='/'">
                <div class="navi_home_mark">
                    <img class="home_mark prohibit_selection" src="images/home_mark.png">
                </div>
                <div class="navi_home">
                    <a class="navi_text prohibit_selection">首頁</a>
                </div>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click navi_this pointer" onclick="javascript:location.href='/product'">
                <a class="navi_text prohibit_selection">產品介紹</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer">
                <a class="navi_text prohibit_selection">案例分享</a>
            </div>
            <div class="navi_button_dot">
                <a class="navi_dot prohibit_selection">．</a>
            </div>
            <div class="navi_button navi_click pointer">
                <a class="navi_text prohibit_selection">聯絡我們</a>
            </div>
        </div>
        <div class="pd_main">
            <div class="pd_left">

            </div>
            <div class="pd_right">

            </div>
        </div>

    </div>
    <div class="Copyright">
        <div class="copy">
            <p class="copyright_text">Copyright © 2014 駿金有限公司</p>
        </div>
    </div>
</body>

</html>