body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EDEDED;
  margin: 0px;
  padding: 0px;
}

/*全部都會用到的*/

.prohibit_selection{
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.pointer{
  cursor: pointer;
}

/*tittle*/

.index{
  width: 800px;
  margin: 0 auto;
  background-color: white;
}

.logo{
  width: 800px;
  margin: 0 auto;
  padding: 16px 0px 8px 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+70,cecece+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 70%, #cecece 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#ffffff), color-stop(100%,#cecece)); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top,  #ffffff 70%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top,  #ffffff 70%,#cecece 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top,  #ffffff 70%,#cecece 100%); /* IE10 preview */
background: linear-gradient(to bottom,  #ffffff 70%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.logo_image{
  padding-left: 20px;
}

.logo_text{
  padding-bottom: 8px;
}

.navi_bar{
  margin: 0 auto;
  width: 800px;
  height: 43px;
  background-color: black;
  padding: 0px;
}

.navi_button{
  padding: 0px 5px 0px 5px;
  height: 43px;
  float: left;
  line-height: 43px;
}

.navi_click:hover{
  background-color: #B20000;
}

.navi_left{ 
  margin-left: 10px;
}

.navi_this{
  background-color: #B20000;
}

.navi_home_mark{
  height: 20px;
  width: 19px;
  float: left;
  margin-left: 8px;
}

.home_mark{
  margin-top: 11px;
}

.navi_home{
  float: left;
}

.navi_text{
  height: 143px;
  color: white;
  font-size: 16px;
  margin: 0px 10px 0px 5px;
  text-decoration: none;
}

.navi_button_dot{
  padding: 0px;
  height: 43px;
  float: left;
  margin:0px 5px 0px 5px;
}

.navi_dot{
  color: white;
  font-size: 25px;
}

/*index*/

.index_image{ 
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
  line-height: 0px;
}

.vacancy{
  width: 800px;
  height: 35px;
  margin: 0 auto;
  background:radial-gradient(ellipse 30% 30% at top,#3B3B3B 1%, #6E6E6E 30%,white 100%);
}

.index_commodity{
  width: 800px;
  height: 180px;
  margin: 0 auto;
  border: 0px;
  padding: 0px;
}

.co1{
  background-image: url('../images/index_co1.png');
  width: 372px;
  height: 168px; 
  margin-left: 20px;
  position: relative;
  float: left;
}

.co1_name{
  position:absolute;
  left: 18px;
  bottom: 5px;
  float: left;
}

.co1_name_text{
  font-size: 16px;
  color: white;
}

.co1_more{
  position:absolute;
  bottom:8px;
  right: 25px;
  float: left;
}

.co1_more_text{
  color: #EDEDED;
}

.co2{
  background-image: url('../images/index_co2.png');
  width: 367px;
  height: 168px; 
  margin-left: 20px;
  position: relative;
  float: left;
}

.co2_name{
  position:absolute;
  left: 18px;
  bottom: 5px;
  float: left;
}

.co2_name_text{
  font-size: 16px;
  color: white;
}

.co2_more{
  position:absolute;
  bottom:8px;
  right: 25px;
  float: left;
}

.co2_more_text{
  color: #EDEDED;
}

.index_news{
  padding-left: 20px;
  padding-bottom: 24px;
  height: 295px;
}

.index_news_tittle{
  margin-top: 15px;
  margin-bottom: 10px;
}

.ch_tittle{
  font-size: 20px;
  color: #b93137;
  border-left: 5px #b93137 solid;
  padding-left: 10px;
  font-weight: 500;
}

.en_tittle{
  margin-left: 5px;
  font-size: 12px;
  color: #3B3B3B;
}

.news_imageset{
  float: left;
  border: 0;
  padding: 0;
  margin: 0;
  height: 255px;
  width: 519px;
}

.news_tittleset{
  border-right: 7px #545454 solid;
  float: left;
  width: 233px;
  background-image: linear-gradient(85deg , #5a5658 , black);
}

.news_tittle{
  font-size: 13px;
  border-bottom: 1px black solid;
  height: 63px;
  color: #FAFAFA;
  font-family: 'Noto Serif JP', serif;
  font-weight: 100;
  position: relative;
}

.news_tittle_text{
  position: relative;
  top: 24px;
  left: 28px;
  text-decoration: underline;
}

.news_tittle_text2{
  position: relative;
  top: 14px;
  left: 28px;
  text-decoration: underline;
}

.tittle_bottom{
  border-bottom: none;
  height: 63px;
}

/*product*/

.pd_main{
  height: 830px;
}

.main_left{
  width: 230px;
  height: 813px;
  background-color: #f2f2f2;
  margin-top: 17px;
  float: left;
}

.left_tittle{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4b494a+1,000000+100 */
  background: #4b494a; /* Old browsers */
  background: -moz-linear-gradient(top,  #4b494a 1%, #000000 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4b494a), color-stop(100%,#000000)); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top,  #4b494a 1%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top,  #4b494a 1%,#000000 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top,  #4b494a 1%,#000000 100%); /* IE10 preview */
  background: linear-gradient(to bottom,  #4b494a 1%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b494a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  height: 27px;
}

.lt_text{
  color: white;
  margin-left: 25px;
  line-height: 28px;
}

.sign{
  margin: 7px 0px 10px 5px;
  list-style:none;
  line-height: 23px;
  color: black;
}

.hyperlink{
  text-decoration: none;
  color: black;
}

.hyperlink:visited{
  text-decoration: none;
  color: black;
}

.hyperlink:hover{
  text-decoration: none;
  color: black;
}

.sign_2{
  margin: 2px 0px 2px 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  list-style:none;
  line-height: 23px;
  color: black;
}

.sign_li::before{
  content: ">"; color: black;
  display: inline-block; width: 1em;
  margin-left: -1em;
}

.sign_2_1{
  padding-left: 25px;
  margin: 0px;
  list-style:none;
  color: black;
}

.sign_li_2{
  line-height: 20px;
}

.sign_li_2::before{
  content: "\00B7"; color: black;
  display: inline-block;
  width: 7px;
  margin-left: -5px;
}

.sign_li_2_text{
  color: #5c5c5c;
  font-size: 13px;
}

.coming{
  color: #c43636;
  font-size: 12px;
}

.sign_3{
  margin: 5px 0px 5px 5px;
  list-style:none;
  line-height: 23px;
  color: black;
}

.sign_4{
  margin: 5px 0px 5px 5px;
  list-style:none;
  line-height: 23px;
  color: black;
}

.main_right{
  float: left;
  margin-top: 17px;
  padding-left: 25px;
}

.product_tittle{
  padding-left: 5px;
  margin-bottom: 20px;
}

/*pro2-1*/

.HD_Witness{
  background: linear-gradient(to bottom, #b90d17 25px,#f2f2f2 25px);
}

.left_this{
  color: white !important;
}

.left_this::before{
  color: white;
}

.pro2_1_right {
  float: left;
  margin-top: 17px;
  padding-left: 15px;
}

.pro2_1_navi{
  background-color: #f4f4f4;
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  width: 530px;
  padding-left: 10px;
  height: 23px;
  line-height: 0px;
}

.home_mark_black{
  margin: 0px 0px 0px 0px;
  line-height: 0px;
  padding: 0px;
  border: 0px;
  height: 18px;
  width: 19px;
  vertical-align: middle ;
}

.navi_font{
  font-size: 12px;
  line-height: 25px;
}

.navi_interval{
  font-size: 12px;
  line-height: 25px;
  margin: 0px 3px 0px 3px;
}

.pro2_1_tittle{
  padding: 15px 0px 10px 15px;
}

.pro2_1_tittle_text{
  font-size: 22px;
  font-weight: 500;
}

.ch_tittle_text{
  font-size: 16px;
  color: #b93137;
  font-weight: 500;
}

.pro2_1_content{
  width: 500px;
  margin: 10px 0px 0px 10px;
}

.pro2_1_content_text{
  line-height: 22px;
  font-size: 13px;
}

.DM{
  text-decoration: underline;
  color: #69929a;
  line-height: 30px;
}

.trial{
  text-decoration: underline;
  color: #c42d30;
  font-size: 16px;
  font-weight: 600;
}

/*Copyright*/

.Copyright {
  float: left;
  background-color: #252525;
  width: 100%;
  height: 40px;
}

.copy {
  width: 850px;
  text-align: center;
  margin: 0 auto;
}

.copyright_text{
  font-size: 12px;
  color: white;
}