body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EDEDED;
  margin: 0px;
  padding: 0px;
}

/*全部都會用到的*/

.prohibit_selection{
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.pointer{
  cursor: pointer;
}

/*index*/

.logo{
  width: 800px;
  margin: 0 auto;
  padding: 16px 0px 8px 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+70,cecece+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 70%, #cecece 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#ffffff), color-stop(100%,#cecece)); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top,  #ffffff 70%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top,  #ffffff 70%,#cecece 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top,  #ffffff 70%,#cecece 100%); /* IE10 preview */
background: linear-gradient(to bottom,  #ffffff 70%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.logo_image{
  padding-left: 20px;
}

.logo_text{
  padding-bottom: 8px;
}

.navi_bar{
  margin: 0 auto;
  width: 800px;
  height: 43px;
  background-color: black;
  padding: 0px;
}

.navi_button{
  padding: 0px 5px 0px 5px;
  height: 43px;
  float: left;
  line-height: 43px;
}

.navi_click:hover{
  background-color: #B20000;
}

.navi_left{ 
  margin-left: 10px;
}

.navi_this{
  background-color: #B20000;
}

.navi_home_mark{
  height: 20px;
  width: 19px;
  float: left;
  margin-left: 8px;
}

.home_mark{
  margin-top: 11px;
}

.navi_home{
  float: left;
}

.navi_text{
  height: 143px;
  color: white;
  font-size: 16px;
  margin: 0px 10px 0px 5px;
  text-decoration: none;
}

.navi_button_dot{
  padding: 0px;
  height: 43px;
  float: left;
  margin:0px 5px 0px 5px;
}

.navi_dot{
  color: white;
  font-size: 25px;
}

.index_image{ 
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
  line-height: 0px;
}

.vacancy{
  width: 800px;
  height: 35px;
  margin: 0 auto;
  background:radial-gradient(ellipse 30% 30% at top,#3B3B3B 1%, #6E6E6E 30%,white 100%);
}

.index_commodity{
  width: 800px;
  height: 300px;
  margin: 0 auto;
  border: 0px;
  padding: 0px;
  background-color: white;
}

.co1{
  background-image: url('../images/index_co1.png');
  width: 372px;
  height: 168px; 
  margin-left: 20px;
  position: relative;
  float: left;
}

.co1_name{
  position:absolute;
  left: 18px;
  bottom: 5px;
  float: left;
}

.co1_name_text{
  font-size: 16px;
  color: white;
}

.co1_more{
  position:absolute;
  bottom:8px;
  right: 25px;
  float: left;
}

.co1_more_text{
  color: #EDEDED;
}

.co2{
  background-image: url('../images/index_co2.png');
  width: 367px;
  height: 168px; 
  margin-left: 20px;
  position: relative;
  float: left;
}

.co2_name{
  position:absolute;
  left: 18px;
  bottom: 5px;
  float: left;
}

.co2_name_text{
  font-size: 16px;
  color: white;
}

.co2_more{
  position:absolute;
  bottom:8px;
  right: 25px;
  float: left;
}

.co2_more_text{
  color: #EDEDED;
}

.Copyright {
  float: left;
  background-color: #252525;
  width: 100%;
  height: 40px;
}

.copy {
  width: 850px;
  text-align: center;
  margin: 0 auto;
}

.copyright_text{
  font-size: 12px;
  color: white;
}